{% extends "blog/base.html" %}

{% block content %}


    <div class="max-w-xl mx-auto px-4 py-4 bg-white shadow-md rounded-lg">
      <div class="py-2 flex flex-row items-center justify-between flex-wrap">
        <div class="flex flex-row items-center">
          <a href="{% url "user-posts" post.author.username %}" class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg">
            <img class="rounded-full h-12 w-12 object-cover" src="{{ object.author.profile.image.url }}" alt="{{ object.author }}">
            <p class="ml-2 text-base font-medium">{{ object.author }}</p>
          </a>
        </div>

        <div class="flex flex-row items-center">
          <a href="{{ object.category.get_absolute_url }}">
            <p class="text-xs font-semibold text-gray-500 hover:text-blue-600">#{{ object.category }}</p>
          </a>
        </div>

        <div class="flex flex-row items-center">
          <p class="text-xs font-semibold text-gray-500">{{ object.date_posted|date:"F d, Y" }}</p>
        </div>

      </div>
      <div class="mt-2">
        <img class="object-cover w-full rounded-lg" src="{{ object.image.url }}" alt="{{ object.title }} cover"> </div>

      <div class="py-2 flex flex-row items-center justify-between">
        <h1 class="text-gray-900 font-bold text-xl mb-2 py-2">{{ object.title }}</h1>
      </div>
      <div class="py-2">
        <p class="leading-snug">{{ object.summary|safe }}</p>
        <hr class="mb-2 mt-2 border-t" />
      </div>

      <div class="py-2">
        <p class="leading-snug">{{ object.content|safe }}</p>
      </div>

      {% if object.author == user %}
      <hr class="mb-2 mt-2 border-t" />
      <div class="m-2 flex flex-row items-center justify-between">

        <a class="text-sm font-semibold text-gray-500" href="{% url "blog-update" object.slug %}">Update</a>
        <a class="text-sm font-semibold text-gray-500" href="{% url "blog-delete" object.slug %}">Delete</a>
      </div>
      {% endif %}

      <br>
      {% with theurl="{{ request.build_absolute_uri }}" %}
      <div class="w-full md:flex md:-mx-2">

      <!-- Twitter share -->
      <div class="w-full md:w-1/6 px-2"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

      <!-- LinkedIn share -->
      <div class="w-full md:w-1/6 px-2"><script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
      <script type="IN/Share" data-url="https://mubapp.herokuapp.com"></script></div>

      <!-- Facebook like & share -->
      <div class="w-full md:w-1/6 px-2"><div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v7.0"></script>

      <div class="fb-like" data-href="https://mubapp.herokuapp.com" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"> </div></div>

    </div>
    {% endwith %}
    </div>


    <!-- Related posts by category -->


    <div class="max-w-xl mx-auto px-3 py-3 bg-white shadow-md rounded-lg">
      <h1 class="text-gray-900 font-bold text-center text-2xl mb-2 py-2">RELATED POSTS</h1>
      <div class="w-full md:flex md:-mx-2 ">
        {% for post in related_posts %}
        <div class="w-full md:w-1/2 px-2">
          <a href="{{ post.get_absolute_url }}">
            <img class="object-cover w-full h-24 m-2 rounded-lg" src="{{ post.image.url }}" alt="{{ post.title }} cover"> </a>
            <a href="{{ post.get_absolute_url }}">
              <h1 class="text-gray-900 font-semibold text-center text-l m-2 hover:text-blue-600">{{ post.title }}</h1>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>


  {% endblock content %}
